In [32]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

In [6]:
len(names)

5

In [7]:
range(len(names))

range(0, 5)

In [9]:
for i in [0, 1, 2]:
    print (i * 10)

0
10
20

In [14]:
for i in range(5):
    print (i)

0
1
2
3
4

In [15]:
for i in range(  len(names) ):
    print(i)

0
1
2
3
4

    for <variable-name> in <a list or something that makes a list>:
        whatever you want to do each time through the loop

In [33]:
names.append('Six')

In [34]:
names

['One', 'Two', 'Three', 'Four', 'Five', 'Six']

In [28]:
names[1]

'Two'

In [35]:
for my_var in range(  len(names) ):
    print(my_var)
    print(names[my_var])
    print('------')

0
One
------
1
Two
------
2
Three
------
3
Four
------
4
Five
------
5
Six
------

In [36]:
for my_var in [0, 1, 2, 3, 4]:
    print(my_var)
    print(names[my_var])
    print('-----')

0
One
-----
1
Two
-----
2
Three
-----
3
Four
-----
4
Five
-----